.icons {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.icons i {
  padding: 5px;
  margin-left: 10px;
  /* text-shadow: 1px 1px 3px rgb(231, 231, 231); */
  margin-right: 10px;
  color: rgb(101, 101, 101);
  text-shadow: 1px 1px 2px rgb(211, 211, 211);
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.icons i:hover {
  color: rgb(59, 59, 59);
  transform: scale(1.2);
}
