.hamg {
  display: none;
  position: fixed;
  z-index: 10;
  right: 2rem;
  top: 1rem;
  @include phone-medium-landscape {
    display: block;
  }
  @include phone-small-landscape {
    right: 1rem;
  }
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: $gray-dark;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  @include phone-medium-portrait {
    width: 40px;
    height: 5px;
  }
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background-color: $gray-dark;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  @include phone-medium-portrait {
    width: 40px;
    height: 5px;
  }
}

.menu-btn__burger:before {
  transform: translateY(-16px);
  @include phone-medium-portrait {
    transform: translateY(-14px);
  }
}

.menu-btn__burger:after {
  transform: translateY(16px);
  @include phone-medium-portrait {
    transform: translateY(14px);
  }
}

//Animation

.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
}
.open .menu-btn__burger:before {
  transform: rotate(45deg) translate(35px, -35px);
}
.open .menu-btn__burger:after {
  transform: rotate(-45deg) translate(35px, 35px);
}
