.home-section {
  padding: 3rem 2rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "we-have network"
    "users like-and-invite";
  //   grid-gap: 1rem;
  grid-row-gap: 2.5rem;
  grid-column-gap: 3rem;
}

.we-have {
  grid-area: we-have;
  //   background-color: green;
  display: flex;
  position: relative;
  &:before {
    content: "We have";
    position: absolute;
    top: -25px;
    left: 0;
  }
  justify-content: space-between;
  .fa-book {
    color: $primary-purple;
  }
  .fa-users {
    color: blue;
  }
  .fa-money-bill-wave-alt {
    color: green;
  }
  .fa-headphones {
    color: orange;
  }
  & > div {
    background-color: white;
    box-shadow: 1px 2px 4px rgb(199, 199, 199);
    width: 180px;
    min-width: 150px;
    padding: 0.4rem 1.2rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    span {
      font-size: 1.8rem;
      font-weight: bold;
      color: $black-text;
    }
    .icon-and-name {
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      color: $gray-dark;
      i {
        margin-left: 1rem;
      }
    }
  }
}
.users {
  position: relative;
  &:before {
    content: "Users";
    position: absolute;
    top: -25px;
    left: 0;
  }
  grid-area: users;
  background-color: white;
  box-shadow: 1px 2px 4px rgb(199, 199, 199);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  //   align-items: center;
  h1 {
    padding: 2rem;
    border-bottom: 1px solid black;
  }
  img {
    width: 60px;
    border-radius: 50%;
  }
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h5 {
      color: rgb(191, 191, 191);
    }
  }
  .user-box {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2rem;
    border-bottom: 1px solid gray;
    &:last-child {
      border: none;
    }
  }

  button {
    padding: 0.4rem 2rem;
    text-align: center;
    width: 25%;
    margin-left: auto;
    border-radius: 15px;
    border: 1px solid black;
    color: black;
    background: none;
  }
}
.my-network {
  position: relative;
  &:before {
    content: "My network";
    position: absolute;
    top: -25px;
    left: 0;
  }
  grid-area: network;
  background-color: white;
  box-shadow: 1px 2px 4px rgb(199, 199, 199);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  & div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem;
    border-right: 1px solid rgb(202, 202, 202);
    span {
      color: $black-text;
      font-weight: bold;
      margin-bottom: 2px;
    }
    p {
      color: rgb(155, 155, 155);
    }
  }
  & :nth-child(3) {
    border: none;
  }
}
.like-and-invite {
  grid-area: like-and-invite;
  display: flex;
  flex-direction: column;
  //   justify-content: space-between;
  .liked-posts {
    position: relative;
    &:before {
      content: "Posts";
      position: absolute;
      top: -25px;
      left: 0;
    }
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 2px 4px rgb(199, 199, 199);

    .image-and-info {
      padding: 1rem;
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgb(189, 189, 189);
      &:nth-child(3) {
        border: none;
      }
      img {
        width: 60px;
        border-radius: 50%;
      }
      p {
        font-size: 0.8rem;
      }
    }
    button {
      width: 100%;
      border: none;
      padding: 0.8rem 0;
      border-top: 1px solid rgb(255, 166, 0);
      //   height: 40px;
      font-size: 1.4rem;
      background-color: white;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  .invite-people {
    position: relative;
    &:before {
      content: "Invite friends";
      position: absolute;
      top: -25px;
      left: 0;
    }
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 2px 4px rgb(199, 199, 199);
    margin-top: 2.5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    .fa-users {
      font-size: 4rem;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      width: 100px;
      background-color: $primary-purple;
      border-radius: 50%;
    }
    h2 {
      margin-top: 8px;
    }
    p {
      margin-top: 8px;
    }
    input {
      margin-top: 15px;
      width: 90%;
      padding: 0.3rem;
      font-size: 1.2rem;
      &::placeholder {
        text-align: center;
      }
    }
    button {
      margin-top: 15px;
      width: 80%;
      padding: 0.8rem 0;
      font-size: 1.4rem;
      color: white;
      background-color: rgb(255, 174, 0);
      border: none;
      border-radius: 40px;
    }
  }
}
