.books-section {
  @include section-inside-main;
  .search-books {
    transition: 1s ease;
    @include flexbox();
    @include justify-content(center);
    .input-search-books {
      padding: 0.8rem 0.8rem;
      color: $black-text;
      width: 400px;
      border: 1px solid $primary-purple;
      font-size: 1.2rem;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    .btn-search {
      padding: 0.8rem 0.8rem;
      border: none;
      background-color: $primary-purple;
      color: white;
      font-size: 1.2rem;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: $primary-purple-hover;
      }
    }
  }
  .error-message {
    text-align: center;
    font-size: 2rem;
    margin: 2rem;
    color: $gray-dark;
    text-transform: capitalize;
    font-weight: bold;
  }
}
.books {
  display: grid;
  grid-column-gap: 3em;
  grid-row-gap: 4em;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: auto;
  padding-bottom: 2rem;
}

.more-content-load-text {
  color: rgb(179, 54, 208);
  text-align: center;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}
