.books-section {
  @include section-inside-main;
  .search-books {
    transition: 1s ease;
    margin-top: 180px;
    @include flexbox();
    @include justify-content(center);
    @include tablet-landscape {
      margin-top: 0;
    }
    .input-search-books {
      color: $black-text;
      padding: 0 0.8rem 0;
      width: 400px;
      border: 1px solid $primary-purple;
      font-size: 1.2rem;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      @include tablet-landscape {
        width: 100%;
      }
      @include phone-medium-portrait {
        font-size: 1rem;
      }
    }
    .btn-search {
      border: none;
      padding: 0.8rem;
      background-color: $primary-purple;
      color: white;
      font-size: 1.2rem;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      &:hover {
        background-color: $primary-purple-hover;
      }
      .fa-spin {
        font-size: 1rem;
        margin-left: 0.3rem;
      }
      @include phone-medium-portrait {
        font-size: 1rem;
        padding: 0.6rem;
      }
    }
  }
  .error-message {
    text-align: center;
    font-size: 2rem;
    margin: 2rem;
    color: $gray-dark;
    text-transform: capitalize;
    font-weight: bold;
  }
  .move-top {
    //push search form to the top
    margin-top: 50px;
    @include tablet-landscape {
      margin-top: 0;
    }
  }
}
.books {
  display: grid;
  grid-column-gap: 2.5rem;
  grid-row-gap: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: auto;
  padding-bottom: 2rem;
  @include tablet {
    grid-column-gap: 1.5rem;
  }
}

.more-content-load-text {
  color: rgb(179, 54, 208);
  text-align: center;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}
