.books-section {
  width: 90%;
  margin: 2rem auto;
  .total-and-sort {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .total-text,
    .sort-text {
      font-size: 1.5rem;
      opacity: 0.7;
      margin-bottom: 8px;
    }
    .total-text {
      text-align: left;
    }
    .sort-text {
      text-align: right;
    }
    .num-books {
      font-size: 2.2rem;
    }
    .sort-by {
      .sort-boxes {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        .rotate {
          transform: rotateY(-180deg);
        }
        .icon-sort {
          border: none;
          width: 55px;
          padding: 0.3rem;
          display: flex;
          background-color: rgb(66, 66, 66);
          transition: 0.5s ease;
        }
        .sort-select {
          font-size: 1.6rem;
          padding: 0.2rem 0.6rem;
          background-color: rgb(66, 66, 66);
          color: rgb(240, 240, 240);
          border: none;
          margin-left: 2px;
        }
      }
    }
  }
}

.books {
  display: grid;
  grid-column-gap: 3em;
  grid-row-gap: 4em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
}
