.book {
  height: 340px;
  position: relative;
  max-width: 280px;

  .title-outer {
    color: $black-text;
    font-size: 0.9rem;
  }
  img {
    width: 100%;
    height: 100%;
  }
  &:hover {
    .title-outer {
      display: none;
    }
    .book-info-inner {
      @include flexbox();
      height: 115%;
      transform: translate(-5%, -5%);
      width: 115%;
      background-color: $gray-dark;
    }
    img {
      opacity: 0;
      visibility: hidden;
    }
  }
}
