header {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem;
  height: 65px;
  box-shadow: 1px 1px 3px #dddddd;
  z-index: 1;
  position: fixed;
  width: calc(100% - 300px);
  right: 0;
}
