.user_account {
  display: grid;

  grid-template-areas:
    ". img ."
    "name img ."
    ". img logout";

  grid-gap: 0.4rem;
  align-items: center;
}
.user_account img {
  grid-area: img;
  width: 45px;
  height: 45px;
  border: 1px solid rgb(255, 0, 255);
  border-radius: 50%;
}

.user_name {
  color: rgb(101, 101, 101);
  text-shadow: 1px 1px 2px rgb(211, 211, 211);
  grid-area: name;
}

.logout_icon {
  grid-area: logout;
  color: rgb(101, 101, 101);
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  i {
    margin-left: 5px;
  }
  font-family: "Montserrat";
}
