.user_account {
  display: grid;
  grid-template-areas:
    ". img ."
    "name img ."
    ". img logout";
  grid-gap: 0.4rem;
  align-items: center;
}
.user_account img {
  grid-area: img;
  width: 45px;
  height: 45px;
  border: 1px solid rgb(255, 0, 255);
  border-radius: 50%;
}

//When waiting for authorization response => spin defaultUserImage

.animate-spin {
  animation: spin 1.5s infinite ease;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.user_name {
  color: rgb(101, 101, 101);
  text-shadow: 1px 1px 2px rgb(211, 211, 211);
  grid-area: name;
}

.login-button,
.logout-button {
  grid-area: logout;
  color: rgb(101, 101, 101);
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: "Montserrat";
}
