$phone-small-portrait: 320px;
$phone-iphoneX: 375px;
$phone-medium-portrait: 414px;
$phone-small-landscape: 568px;
$phone-medium-landscape: 736px;
$tablet: 814px;
$tablet-landscape: 1024px;
$laptop: 1440px;
$dekstop-large: 1280px;

@mixin phone-iphoneX {
  @media (max-width:#{$phone-iphoneX}) {
    @content;
  }
}

@mixin phone-small-portrait {
  @media (max-width:#{$phone-small-portrait}) {
    @content;
  }
}

@mixin phone-medium-portrait {
  @media (max-width:#{$phone-medium-portrait}) {
    @content;
  }
}

@mixin phone-small-landscape {
  @media (max-width:#{$phone-small-landscape}) {
    @content;
  }
}

@mixin phone-medium-landscape {
  @media (max-width: #{$phone-medium-landscape}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}
@mixin tablet-landscape {
  @media (max-width:#{$tablet-landscape}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width:#{$laptop}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width:#{$laptop}) {
    @content;
  }
}
@mixin desktop-large {
  @media (max-width:#{$desktop-large}) {
    @content;
  }
}
// @mixin desktop {
//   @media (max-width:#{$desktop}) {
//     @content;
//   }
// }

// /@mixin medium-mobile {
//   @media (min-width : #{$medium-mobile-screen}) {
//     @content;
//   }

// @media (min-width: 1024px) {

// }

// @media (min-width: 1280px) {

// }

// edium-mobile-screen: 370px;
// $large-mobile-screen: 479px;
// $large-tablet-screen: 1024px;
// $laptop-screen: 1200px;
// $desktop-screen: 2000px;
// @mixin medium-mobile {
//   @media (min-width : #{$medium-mobile-screen}) {
//     @content;
//   }
// }
// @mixin large-mobile {
//   @media (min-width : #{$large-mobile-screen}) {
//     @content;
//   }
// }
