.chat_section {
  width: calc(100% - 350px);
  background-color: #f4f4f4;
  .send_message_box {
    background-color: white;
    box-shadow: -1px -1px 3px #dddddd;
    height: 65px;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
    .send_btn {
      padding: 0.5rem 1rem;
      background-color: #e000fe;
      border: none;
      border-radius: 5px;
      color: white;
      cursor: pointer;
    }
    textarea {
      width: 90%;
      background-color: #f4f4f4;
      border-radius: 5px;
      resize: none;
      padding: 16px;
      border: 0.5px solid rgb(209, 209, 209);
      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  //CHAT HISTORY SECTION

  .chat_history {
    padding: 1rem 1rem 0 1rem;
    overflow: auto;

    height: calc(
      100vh - 194.5px
    ); //-height of Header,CurrentUserChat,.send_message_box

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #e000fe;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgb(185, 0, 209);
    }

    .user_message,
    .my_message {
      clear: both;
      display: block;
      font-size: 0.9rem;
      padding: 0.8rem 1.2rem;
      border-radius: 40px;
      max-width: 80%;
      line-height: 20px;
      margin-bottom: 1rem;
    }
    .my_message {
      background-color: $primary-purple;
      color: white;
      float: right;
    }
    .user_message {
      background-color: rgb(235, 235, 235);
      float: left;
    }
  }
}
