.invite-friends {
  @include home-grid-box();
  &:before {
    content: "Invite friends";
    position: absolute;
    font-weight: bold;
    top: -1.8rem;
    color: $black-text;
    left: 0;
  }
  margin-top: 3rem;
  border-radius: $home-box-border-radius;
  @include flexbox-all(column, center, center);
  text-align: center;
  padding: 1.6rem 1.2rem;
  i {
    //Users icon
    font-size: 4rem;
    width: 140px;
    height: 140px;
    @include flexbox-all(row, center, center);
    color: white;
    background: linear-gradient(to top right, #e000fe, #9630fd);
    border-radius: 50%;
  }
  .text {
    h2 {
      margin-top: 1rem;
      font-size: 1.2rem;
    }
    p {
      margin-top: 0.4rem;
      font-size: 1rem;
    }
  }

  input {
    margin: 1rem 0;
    width: 100%;
    padding: 0.3rem;
    font-size: 1.2rem;
    border-radius: $home-box-border-radius;
    border: 1px solid $border-gray-light;
    &::placeholder {
      text-align: center;
      color: $gray-light;
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 0 1px $border-gray-light;
    }
  }
  button {
    cursor: pointer;
    width: 100%;
    padding: 0.6rem 0;
    font-size: 1.2rem;
    color: white;
    background-color: $btn-orange;
    border: none;
    border-radius: 20px;
  }
}
