/* =========== RESETS ========= */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Montserrat", sans-serif, serif;
  overflow: hidden;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* =========== RESETS ========= */
body {
  background-color: #f4f4f4;
}
